
.dc-chart .pie-path {
    fill: none;
    stroke-width: 2px;
    stroke: #000; 
    opacity: 0.4;
}
.dc-chart .axis path, .dc-chart .axis line {
    fill: none;
    stroke: #000; 
    shape-rendering: crispEdges;
}

.dc-chart .grid-line, .dc-chart .axis .grid-line, .dc-chart .grid-line line, .dc-chart .axis .grid-line line {
    fill: none;
    stroke: #ccc; 
    shape-rendering: crispEdges;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1.5px;
}

.dc-chart g.dc-tooltip path {
    fill: none;
    stroke: #808080; 
    stroke-opacity: 0.8;
}
.dc-chart g.county path {
    stroke: #fff; 
    fill: none;
}

.dc-chart .box .outlier {
    fill: none;
    stroke: #ccc; 
}


